.DS_Store
/config/config.yml
build/
obj/.DS_Store
obj/
.vscode/
olds/
bin/

obj/.DS_Store
obj/app/.DS_Store
include/.DS_Store
include/config/.DS_Store
include/oled/.DS_Store
include/qr/.DS_Store
include/spi/.DS_Store
include/mrf24/.DS_Store
include/gpio/.DS_Store
src/.DS_Store
src/oled/.DS_Store
src/qr/.DS_Store
src/spi/.DS_Store
src/work/.DS_Store
src/mrf24/.DS_Store
src/gpio/.DS_Store